<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{.EventName}}</title>
    <!-- Bootstrap core JavaScript -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>


</head>

<body>
<script>
    $(document).ready(function() {
        $('#robots').DataTable();
    } );
</script>
<!-- Navigation -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://storage.googleapis.com/staging.otr-scouting.appspot.com/web/css/OTWhite@4x.png"
                 height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=/events>Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teams">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/matches">Matches</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <h1>{{.EventName}}</h1>
    </div>
    <div class="row">
        <h3>Qualification Matches</h3>
    </div>
    <div class="row">
        <ul class="list-group">
        {{range .QualMatches}}
            <li class="list-group-item list-group-item-action"><a href="/match/{{.MatchId}}">Qualification
                - {{.MatchNumber}}
            </a>
            </li>
        {{end}}
        </ul>
    </div>
    <div class="row">
        <h3>Elimination Matches</h3>
    </div>
    <div class="row">
        <ul class="list-group">
        {{range .ElimMatches}}
            <li class="list-group-item list-group-item-action"><a href="/match/{{.MatchId}}">Elimination
                - {{.MatchNumber}}
            </a>
            </li>
        {{end}}
        </ul>
    </div>
    <div class="row">
        <h3>Robot Performance</h3>
        <br>
    </div>
    <div class="row">

        <table id="robots" class="table display">
            <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<!-- /.container -->
</body>

</html>
